/config.json
/config.example.json
/config-*.json
/config.*.json
**/.DS_Store
**/.mypy_cache/
**/.pytest_cache/
**/.hypothesis/
**/__pycache__/
**/.git/
**/.venv/
**/.vscode/
**/*.egg-info/
**/*wheel-metadata/
**/.eggs/
**/*.egg
**/*.pyc
**/*.pyo
**/*.pyd
**/pip-log.txt
**/pip-delete-this-directory.txt
